body{
    position: relative!important;
}

.section {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .cart {
        display: flex;
    }
}

.cart-products {
    margin-right: 6rem;
    margin-bottom: 6rem;
    border: .1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .cart-products {  
        margin-bottom: 0; 
        width: 66rem;
    }
}

.cart-product {
    display: flex;
    border-bottom: 0.05rem solid #7E7777;
    padding: 3rem;
}

.cart-product:last-of-type {
    border-bottom: none;
}

.cart-product-img {
    border-radius: 4rem 0 4rem 0;
    width: 200rem;
    height: 20rem;
    max-width: 18rem;
    max-height: 20rem;
    margin-right: 2rem;
}

.cart-product-info {
    width: 100%;
}

.cart-product-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.info-product {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.cart-info-r {
    margin-left: 1rem;
    text-align: right;
}

.cart-product-info button {
    color: #ff9393;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.cart-r {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    background-color: #F3F3F3;
    margin-bottom: 4rem;
}

.order-summary {
    padding: 5rem;
    border-bottom: 0.05rem solid #7E7777;
}

.order-summary p {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.total {
    display: flex;
    margin-bottom: 0.4rem;
}

.total p {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.total-r {
    margin-left: 30rem;
}

.order-data {
    background-color: white;
    text-align: left;
    padding: 5rem;
    border-bottom: 0.05rem solid #7E7777;
}

.order-qt {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}

.order-button {
    padding: 5rem;
}

.no_products{
    text-align: center;
    justify-self: center;
    width: 100%;
}