*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px */
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    --darkGreen: #23940F;
    --lightGreen: #73E86F;
    --headingGreen: #39D31E;
    --yellow: #EEE712;
    --lightYello: #FFFB72;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 95%;
    max-width: 130rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 4.5rem;
    margin: 0 0 1.5rem 0;
}

h2 {
    font-weight: 600;
    font-size: 3.5rem;
    color: var(--headingGreen);
    text-align: center;
    margin: 0 0 4rem 0;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    background-color: var(--headingGreen);
    width: 10rem;
    height: 0.3rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

p {
    font-weight: 400;
    font-size: 2rem;
}

.button {
    display: inline-block;
    padding: 1.2rem 2.5rem;
    background-color: var(--darkGreen);
    border-radius: 4rem 0 4rem 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

/* Header */

.barra {
    background-color: var(--lightGreen);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 4rem;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.back {
    margin-right: 10rem;
}

.cart-i {
    width: 3.5rem;
    margin-left: 10rem;
}

.cart_link{
    padding: 15px;
    position: relative;
    text-decoration: none;
}

.cart_link .cart_counter{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: rgb(243, 241, 144);
    color: black;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 50%;
}

/* Footer */

footer {
    background-color: var(--lightGreen);
    text-align: center;
    padding: 1rem;
    margin-top: 8rem;
}

.logo-footer img {
    width: 30rem;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0
}

.social-media img {
    width: 3rem;
    margin: 0 1rem 0 2rem
}

.social-media p {
    font-weight: bold;
    font-size: 1.8rem;
}

.copy {
    font-size: 1.4rem;
    font-weight: 300;
}