*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px */
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

body {
    font-size: 1.6rem;
    --darkGreen: #23940F;
    --lightGreen: #73E86F;
    --headingGreen: #39D31E;
    --yellow: #EEE712;
    --lightYello: #FFFB72;
    font-family: 'Montserrat', sans-serif;  
    overflow-x: hidden;
}


@media (min-width: 768px) {
    section, #products{
        padding-top: 100px;
    }
}   

.container {
    width: 90%;
    max-width: 110rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0 0 1.5rem 0;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--headingGreen);
    text-align: center;
    margin: 0 0 4rem 0;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    background-color: var(--headingGreen);
    width: 10rem;
    height: 0.3rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.swal2-popup h2::after{
    display: none;
}

h3 {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

p {
    font-weight: 400;
    font-size: 2rem;
}

.button {
    display: block;
    padding: 1.2rem 2.5rem;
    background-color: var(--darkGreen);
    border-radius: 4rem 0 4rem 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    transition: ease .4s;
}

.button:hover {
    background-color: #165F09;
}



/* Menu */

nav{
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: var(--headingGreen);
    z-index: 100;
}

nav .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--headingGreen);
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

nav .container ul {
    position: absolute;
    top: -250%;
    left: 0;
    width: 100%;
    background-color: var(--headingGreen);
    list-style: none;
    transition: all .4s ease-out;
    z-index: -10;
}
nav .container ul.active {
    top: 98%;
}

nav .container ul li{
    width: 100%;
    
    text-align: center;
}

nav .container ul li:hover{
    background-color: var(--darkGreen);
    cursor: pointer;
}

nav .container ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.mobile-menu {
    width: 4rem;
    margin: 0 20px;
    cursor: pointer;
}

/* Desktop menu design */

@media (min-width: 420px) {
    nav .container ul.active {
        top: 100%;
    } 
}



@media (min-width: 720px) {

    nav .container ul{
        position: relative;
        top: 0!important;
        display: flex;
        flex-direction: row;
        z-index: 1;
    }

    nav .container ul li{
        text-align: center;
        padding: 5px;
    }

    nav .container ul li:hover{
        text-align: center;
        background-color: var(--headingGreen);
        color: #FFF;
        cursor: pointer;
        padding: 5px;
    }

    nav .container ul li:hover a {
        color: #FFF;
    }

    .mobile-menu {
        display: none;
    }
}






.back {
    /* margin-right: 10rem; */
}

.cart-i {
    width: 3.5rem;
}

.cart_link{
    padding: 15px;
    position: relative;
    text-decoration: none;
}

.cart_link #cart_counter{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 25px;
    height: 25px;
    background-color: rgb(243, 241, 144);
    color: black;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 50%;
}

/* Footer */

footer {
    background-color: var(--lightGreen);
    text-align: center;
    padding: 1rem;
    margin-top: 8rem;
}

.logo-footer img {
    width: 30rem;
}

.social-media {
    margin: 1rem 
}

@media (min-width: 1200px) {
    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.social-media img {
    width: 3rem;
    margin: 1rem 1rem 1rem 2rem
}

.social-media p {
    font-weight: bold;
    font-size: 1.8rem;
}

.copy {
    font-size: 1.4rem;
    font-weight: 300;
}