.section {
    margin-top: 10rem;
}

nav:target {
    display: block;
}


.hero {
    padding: 20px;
    background-image: url(/img/hero.jpg);
    height: 69.5rem;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.hero-content {
    background-color: rgba(255, 251, 114, 75%);
    padding: 2rem;
    border-radius: 4rem 0 4rem 0;
    max-width: 58rem;
}

.yellow {
    color: #FFCC00;
    -webkit-text-stroke: 1px black;
}

.blue {
    color: #00247D;
    -webkit-text-stroke: 1px black;
}

.red {
    color: #CF142B;
    -webkit-text-stroke: 1px black;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

h3 {
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    h3 {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    p {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }
}

.hero-content{
    text-align: center;
}

@media (min-width: 1000px) {
    .hero-content {
        text-align: left;
        margin-left: 18rem;
        padding: 4rem;
    }
}

.hero-content a {
    display: block;
    font-size: 1.5rem;
}

@media (min-width: 1000px) {
    .hero-content a {
        display: inline-block;
        font-size: 2rem;
    }
}

.hero-content p {
    margin-bottom: 1.5rem;
}

@media (min-width: 1000px) {
    .hero-content p {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
}

/* Services */

@media (min-width: 1000px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    text-align: center;
    margin-bottom: 6rem;
}

@media (min-width: 1000px) {
    .card {
        margin-bottom: 0;
    }
}

.card img {
    width: 9rem;
    height: 9rem;
    margin: 4rem 0;
}

.card p {
    margin: 0 auto;
    width: 28rem;
}

/* Products */

.products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@media (min-width: 1000px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Img grid */

.img-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,160px);
    grid-gap: 10px;
}

.img-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-grid-1{
    grid-row: span 2;
}

.img-grid-3{
    grid-row: span 2;
}

/* Products info */

.products-info{
    padding:  25px 0;
}

@media (min-width: 1000px) {
    .products-info{
        padding: 0 25px;
    }
    
}

.products-info ul li{
    list-style: none;
    position: relative;
    
}

.products-info ul li p {
    margin-bottom: 1rem;
    font-weight: 700;
}

@media (min-width: 1000px) {
    .products-info ul li p {
        text-align: left;
    }
}

.products-info p {
    margin-bottom: 1rem;
    margin-left: 4rem;
}

@media (min-width: 1000px) {
    .products-info p {
        text-align: left;
        margin-left: 0;
    }
}

.products-info ul li p::after {
    content: '';
    position: absolute;
    background-image: url(/img/Check.svg);
    width: 2.5rem;
    height: 1.89rem;
    left: 1rem;
    bottom: -0.01rem;
}

@media (min-width: 1000px) {
    .products-info ul li p::after {
        left: -3.3rem;
        bottom: -0.01rem;
    }
}

.products-info a {
    margin-top: 2.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: var(--yellow);
    color: black;
    font-size: 1.5rem;
}

.products-info a:hover {
    background-color: #F4F066;
}

@media (min-width: 1000px) {
    .products-info a {
        font-size: 2rem;
    }
}


/* Us */

.us {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    text-align: center;
}

@media (min-width: 1000px) {
    .us {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 5rem;
        text-align: left;
    }
}

.us-text {
    line-height: 40px;
}

.us img {
    margin-top: 2rem;
    align-self: center;
    width: 15rem;
}

@media (min-width: 1000px) {
    .us img {
        margin-top: 0;
        width: 25rem;
    }
}


/* Testimonials */

.quote {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
}

.quote img {
    display: none;
}

@media (min-width: 1100px) {
    .quote {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 6rem;
    }
    .quote img {
        display: inline;
    }
}    

@media (min-width: 1100px) {
    .quote-text-l {
        margin-right: 4rem;
    }
}  

@media (min-width: 1100px) {
    .quote-text-r {
        margin-left: 4rem;
    }
}  

blockquote {
    background-color: var(--lightGreen);
    padding: 3rem;
    position: relative;
    font-size: 1.6rem;
    font-style: italic;
}

@media (min-width: 1100px) {
    blockquote {
        width: 80rem;
    }
}

.blockquote-l::after {
    content: '';
    position: absolute;
    background-image: url(/img/quote.svg);
    width: 3.3rem;
    height: 3rem;
    bottom: -2.8rem;
    left: 6rem;
}

.blockquote-r::after {
    content: '';
    position: absolute;
    background-image: url(/img/quote.svg);
    width: 3.3rem;
    height: 3rem;
    bottom: -3rem;
    right: 6rem;
}

.author {
    font-weight: bold;
    font-style: italic;
    margin: 3rem 0 0 0;
}

.author-l {
    text-align: left;
}
    
.author-r {
    text-align: right;
}


/* Contact */

.contact_box{
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 420px) {
    .contact_box{
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        grid-gap: 20px;
    }
}

.form-contact {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    background-color: var(--lightYello);
    text-align: center;
    border-radius: 4rem 0 4rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-contact label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2rem;
}

.form-contact input:not([type="submit"]), textarea {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: none;
    resize: none;
    outline: none;
}

.form-contact textarea{
    height: 15rem;
    width: 100%; 
}

.form-contact .button{
    margin-top: 2rem;
    border: none;
    align-self: center;
    width: 100%; 
    cursor: pointer;
}

@media (max-width: 420px){
    #contact img{
        display: none;
    }
}   
