.section {
    margin-top: 3rem;
}

main {
    min-height: calc(100vh - 8rem - 26rem);
}

.products-p {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .catalog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5rem;
    }
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%;
}

.product-img img {
    border-radius: 4rem 0 4rem 0;
    width: 18rem;
    height: 20rem;
    max-width: 20rem;
    max-height: 20rem;
}

.product-info {
    margin-left: 2rem;
    text-align: left;
}

.product-info h4 {
    font-size: 1.8rem;
}

.product-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin: 1.5rem 0;
}

.price {
    color: #39D31E;
    font-weight: bold;
}

.product-info button {
    background-color: #EEE712;
    color: black;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}