@media (min-width: 768px) {
    .cart-i {
        margin-left: 15rem;
    }
}

.section {
    margin-top: 3rem;
}

#sale h3 {
    font-size: 3.5rem;
    text-transform: initial;
    margin-bottom: 1rem;
}

.text-sale {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2rem;
    border-bottom: 0.05rem solid #7E7777;
    margin-bottom: 4rem;
}

.sale {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .sale {
        flex-direction: row;
    }
}

.sale-contact {
    background-color: #EDE163;
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    padding: 4rem;
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .sale-contact {
        margin-right: 6rem;
        margin-top: 0;
    }
}

.form-sale label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-sale input:not([type="submit"]), textarea {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: none;
    width: 45rem;
    height: 3.8rem;
    display: block; 
    margin-bottom: 2rem;
}

.form-sale textarea {
    height: 8rem;
    margin-bottom: 3rem;
    resize: none;
}

.sale-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.sale-total p {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.sale-bt {
    display: inline-block;
    border: none;
    width: 100%;
}

.sale-process {
    display: flex;
    flex-direction: column;
}

.sale-info {
    background-color: #EDE163;
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    padding: 4rem;
}

.sale-info h4 {
    font-size: 2.5rem;
}

.sale-info p {
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.sale-info p:last-of-type {
    margin-bottom: 0;
}

.step {
    display: flex;
    margin-top: 4rem;
    align-items: center;
}

.circle {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #707070;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    width: 6rem;
    height: 6rem;
    text-align: center;
}

.instruction {
    font-size: 2.2rem;
    font-weight: bold;
}

.platanito-u {
    margin-top: 2rem;
    margin-right: 2rem;
}

.platanito-u img {
    width: 35rem;
    height: 25rem;
    display: none;
}

@media (min-width: 768px) {
    .platanito-u img {
        display: block;
    }
}

.platanito-b {
    display: flex;
    align-items: flex-end;
    
}

@media (min-width: 768px) {
    .platanito-b {
        display: block;
        padding-bottom: 15rem;
    }
}

.platanito-b img {
    width: 30rem;
    height: 25rem;
    margin-left: 2rem;
    display: none;
}

@media (min-width: 768px) {
    .platanito-b img {
        display: block;
    }
}
