*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px */
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    --darkGreen: #23940F;
    --lightGreen: #73E86F;
    --headingGreen: #39D31E;
    --yellow: #EEE712;
    --lightYello: #FFFB72;
    font-family: 'Montserrat', sans-serif;
}

/* Globales */

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.section {
    margin-top: 10rem;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 4.5rem;
    margin: 0 0 1.5rem 0;
}

h2 {
    font-weight: 600;
    font-size: 3.5rem;
    color: var(--headingGreen);
    text-align: center;
    margin: 0 0 4rem 0;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    background-color: var(--headingGreen);
    width: 10rem;
    height: 0.3rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

p {
    font-weight: 400;
    font-size: 2rem;
}

.button {
    display: inline-block;
    padding: 1.2rem 2.5rem;
    background-color: var(--darkGreen);
    border-radius: 4rem 0 4rem 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

/* Header */

.barra {
    background-color: var(--lightGreen);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 4rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.back {
    margin-right: 10rem;
}

.cart-i {
    width: 3.5rem;
    margin-left: 15rem;
}

.hero {
    background-image: url(/img/hero.jpg);
    height: 69.5rem;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

.hero-content {
    background-color: rgba(255, 251, 114, 75%);
    padding: 4rem;
    border-radius: 4rem 0 4rem 0;
    width: 76.5rem;
    margin-left: 18rem;
}

.hero-content p {
    margin-bottom: 1.5rem;
}

/* Services */

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    text-align: center;
}

.card img {
    width: 9rem;
    height: 9rem;
    margin: 4rem 0;
}

.card p {
    margin: 0 auto;
    width: 28rem;
}

/* Products */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.products-info ul li{
    list-style: none;
    position: relative;
    
}

.products-info ul li p {
    margin-bottom: 1rem;
    font-weight: 700;
}

.products-info p {
    margin-bottom: 1rem;
}

.products-info ul li p::after {
    content: '';
    position: absolute;
    background-image: url(/img/Check.svg);
    width: 2.5rem;
    height: 1.89rem;
    left: -3.3rem;
    bottom: -0.01rem;
}

.products-info a {
    margin-top: 2.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: var(--yellow);
    color: black;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 1rem;
}

.img-grid-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.img-grid-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.img-grid-3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.img-grid-4 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* Us */

.us {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5rem;
}

.us-text {
    line-height: 1.5;
}

/* Testimonials */

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.quote-text-l {
    margin-right: 8rem;
}

.quote-text-r {
    margin-left: 8rem;
}

blockquote {
    width: 80rem;
    background-color: var(--lightGreen);
    padding: 3rem;
    position: relative;
    font-size: 1.6rem;
    font-style: italic;
}

.blockquote-l::after {
    content: '';
    position: absolute;
    background-image: url(/img/quote.svg);
    width: 3.3rem;
    height: 3rem;
    bottom: -2.8rem;
    left: 6rem;
}

.blockquote-r::after {
    content: '';
    position: absolute;
    background-image: url(/img/quote.svg);
    width: 3.3rem;
    height: 3rem;
    bottom: -3rem;
    right: 6rem;
}

.author {
    margin: 3rem 0 0 0;
}

.author-l {
    margin-left: 4rem;
}

.author-r {
    text-align: end;
    margin-right: 4rem;
}

/* Contact */

#contact{
    display: flex;
    flex-wrap: wrap;
}

#contact h2{
    width: 100%;
}

#contact img {
    width: 15%;
    height: auto;
    align-self: center;
    margin-left: 60px;
}

@media (max-width: 480px){
    #contact img{
        display: none;
    }
}   

.form-contact {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 6rem;
    background-color: var(--lightYello);
    text-align: center;
    border-radius: 4rem 0 4rem 0;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-contact label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2rem;
    width: 15%;
}

.form-contact input:not([type="submit"]), textarea {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: none;
    resize: none;
    outline: none;
    width: 85%;
}

.form-contact textarea{
    width: 85%;
    height: 15rem;
}

.form-contact .button{
    margin-top: 2rem;
    border: none;
    align-self: center;
}

/* Footer */

footer {
    background-color: var(--lightGreen);
    text-align: center;
    padding: 1rem;
    margin-top: 8rem;
}

.logo-footer img {
    width: 30rem;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0
}

.social-media img {
    width: 3rem;
    margin: 0 1rem 0 2rem
}

.social-media p {
    font-weight: bold;
    font-size: 1.8rem;
}

.copy {
    font-size: 1.4rem;
    font-weight: 300;
}

/* Products */

.products-p {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 4rem;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}

.product {
    display: flex;
    align-items: center;
}

.product-img img {
    height: 22rem;
    width: 23rem;
}

.product-info {
    margin-left: 2rem;
    text-align: left;
}

.product-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin: 1.5rem 0;
}

.price {
    color: #39D31E;
    font-weight: bold;
}

.product-info button {
    background-color: #EEE712;
    color: black;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}

/* Cart */

.cart {
    display: flex;
}

.cart-products {
    margin-right: 6rem;
    border: .1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
}

.cart-product {
    display: flex;
    border-bottom: 0.05rem solid #7E7777;
    padding: 5rem;
}

.cart-product:last-of-type {
    border-bottom: none;
}

.cart-product-img {
    margin-right: 2rem;
    height: 20rem;
    width: 21rem;
}

.cart-product-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.info-product {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.cart-info-r {
    margin-left: 10rem;
}

.cart-product-info a {
    color: #DB1E1E;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.cart-r {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    background-color: #F3F3F3;
    margin-bottom: 4rem;
}

.order-summary {
    padding: 5rem;
    border-bottom: 0.05rem solid #7E7777;
}

.order-summary p {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.total {
    display: flex;
    margin-bottom: 0.4rem;
}

.total p {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.total-r {
    margin-left: 30rem;
}

.order-data {
    background-color: white;
    text-align: left;
    padding: 5rem;
    border-bottom: 0.05rem solid #7E7777;
}

.order-qt {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}

.order-button {
    padding: 5rem;
}

.order-button a {
    display: block;
    color: white;
}

/* Sale */

#sale h3 {
    font-size: 3.5rem;
    text-transform: initial;
    margin-bottom: 1rem;
}

.text-sale {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2rem;
    border-bottom: 0.05rem solid #7E7777;
    margin-bottom: 4rem;
}

.sale {
    display: flex;
}

.sale-contact {
    background-color: #EDE163;
    margin-right: 6rem;
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    padding: 4rem;
}

.form-sale label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-sale input:not([type="submit"]), textarea {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: none;
    width: 45rem;
    height: 3.8rem;
    display: block; 
    margin-bottom: 2rem;
}

.form-sale textarea {
    height: 8rem;
    margin-bottom: 3rem;
}

.sale-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.sale-total p {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.sale-bt {
    display: inline-block;
    border: none;
    width: 100%;
}

.sale-process {
    display: flex;
    flex-direction: column;
}

.sale-info {
    background-color: #EDE163;
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    padding: 4rem;
}

.sale-info h4 {
    font-size: 2.5rem;
}

.sale-info p {
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.sale-info p:last-of-type {
    margin-bottom: 0;
}

.step {
    display: flex;
    margin-top: 4rem;
    align-items: center;
}

.circle {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #707070;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    width: 6rem;
    height: 6rem;
    text-align: center;
}

.instruction {
    font-size: 2.2rem;
    font-weight: bold;
}

.platanito-u {
    margin-top: 2rem;
    margin-right: 2rem;
}

.platanito-u img {
    width: 35rem;
    height: 25rem;
}

.platanito-b {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15rem;
}

.platanito-b img {
    width: 30rem;
    height: 25rem;
    margin-left: 2rem;
}





