*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px */
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    --darkGreen: #23940F;
    --lightGreen: #73E86F;
    --headingGreen: #39D31E;
    --yellow: #EEE712;
    --lightYello: #FFFB72;
    font-family: 'Montserrat', sans-serif;
}

/* Globales */

.container {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
}

.section {
    margin-top: 10rem;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 4.5rem;
    margin: 0 0 1.5rem 0;
}

h2 {
    font-weight: 600;
    font-size: 3.5rem;
    color: var(--headingGreen);
    text-align: center;
    margin: 0 0 4rem 0;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    background-color: var(--headingGreen);
    width: 10rem;
    height: 0.3rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}

.button {
    display: inline-block;
    padding: 1.2rem 2.5rem;
    background-color: var(--darkGreen);
    border-radius: 4rem 0 4rem 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

/* Header */

.barra {
    background-color: var(--lightGreen);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 4rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.cart {
    width: 3.5rem;
    margin-left: 20rem;
}

.hero {
    background-image: url(/img/hero.jpg);
    height: 69.5rem;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

.hero-content {
    background-color: rgba(255, 251, 114, 75%);
    padding: 4rem;
    border-radius: 4rem 0 4rem 0;
    width: 76.5rem;
    margin-left: 18rem;
}

/* Services */

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    text-align: center;
}

.card img {
    width: 9rem;
    height: 9rem;
    margin: 4rem 0;
}

.card p {
    margin: 0 auto;
    width: 28rem;
}

/* Products */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.products-info ul li{
    list-style: none;
    position: relative;
    
}

.products-info ul li p {
    font-weight: 700;
}

.products-info ul li::after {
    content: '';
    position: absolute;
    background-image: url(/img/Check.svg);
    width: 2.5rem;
    height: 1.89rem;
    left: -3.3rem;
}

.products-info a {
    margin-top: 2.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: var(--yellow);
    color: black;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 1rem;
}

.img-grid-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.img-grid-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.img-grid-3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.img-grid-4 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* Us */

.us {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5rem;
}

.us-text {
    line-height: 1.5;
}

/* Testimonials */

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.quote-text-l {
    margin-right: 8rem;
}

.quote-text-r {
    margin-left: 8rem;
}

blockquote {
    width: 80rem;
    background-color: var(--lightGreen);
    padding: 3rem;
    position: relative;
    font-size: 1.6rem;
    font-style: italic;
}

.blockquote-l::after {
    content: '';
    position: absolute;
    background-image: url(/img/quote.png);
    width: 3rem;
    height: 3rem;
    bottom: -3rem;
    left: 6rem;
}

.blockquote-r::after {
    content: '';
    position: absolute;
    background-image: url(/img/quote.png);
    width: 3rem;
    height: 3rem;
    bottom: -3rem;
    right: 6rem;
}

.author {
    margin: 3rem 0 0 0;
}

.author-l {
    margin-left: 4rem;
}

.author-r {
    text-align: end;
    margin-right: 4rem;
}

/* Contact */

.form-contact {
    background-color: #FFFB72;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
}

.form-group {
    display: inline-block;
}

.form-contact label {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 4rem;
    text-align: left;
}

.form-contact input:not([type="submit"]), textarea {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: none;
}

/* Footer */

footer {
    background-color: var(--lightGreen);
    text-align: center;
    padding: 1.5rem;
    margin-top: 8rem;
}

.logo-footer img {
    width: 30rem;
}

.social-media img {
    margin-top: 1rem;
    width: 3rem;
}

footer p {
    font-size: 1.8rem;
}

footer p span {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

/* Products */

.products-p {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-style: italic;
    text-align: center;
}

.m-d {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #39D31E;
    text-align: center;
    margin-bottom: 4rem;
}

.catalog {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
}

.product {
    display: flex;
    align-items: center;
}

.product-info {
    margin-left: 3rem;
    text-align: left;
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.price {
    color: #39D31E;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.product-info a {
    background-color: #EEE712;
    width: 18.5rem;
    height: 4rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

/* Cart */

.cart {
    display: flex;
}

.cart-products {
    margin-right: 6rem;
    border: .1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
}

.cart-product {
    display: flex;
    padding: 5rem;
    border-bottom: 0.05rem solid #7E7777;
}

.cart-product:last-of-type {
    border-bottom: none;
}

.cart-product-img {
    width: 19.1rem;
    height: 24.1rem;
    margin-right: 2.5rem;
    margin-top: 1.5rem;
}

.cart-product-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.pack {
    display: flex;
    margin: 2.5rem 0;
}

.qt {
    display: flex;
    margin-bottom: 2.5rem;
}

.price-cart {
    display: flex;
    margin-bottom: 2.5rem;
}

.cart-info-r {
    margin-left: 30rem;
    text-align: right;
}

.cart-product-info a {
    color: #DB1E1E;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.order {
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    height: 100%;
    background-color: #F3F3F3;
}

.order-summary {
    padding: 5rem;
    border-bottom: 0.05rem solid #7E7777;
}

.order-summary p {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.total {
    display: flex;
    margin-bottom: 0.4rem;
}

.total p {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.total-r {
    margin-left: 35rem;
}

.order-data {
    background-color: white;
    text-align: left;
    padding: 5rem;
    border-bottom: 0.05rem solid #7E7777;
}

.order-qt {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.order-button {
    padding: 5rem;
}

.order-button a {
    display: block;
    color: white;
}

/* Sale */

.sale {
    display: flex;
}

.sale-contact {
    background-color: #EDE163;
    margin-right: 6rem;
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    padding: 5rem;
}

.form-sale label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-sale input:not([type="submit"]), textarea {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: none;
    width: 54rem;
    height: 3.8rem;
    display: block; 
    margin-bottom: 2rem;
}

.form-sale textarea {
    height: 8rem;
    margin-bottom: 10rem;
}

.sale-bt {
    width: 54rem;
    border: none;
}

.sale-info {
    background-color: #EDE163;
    border: 0.1rem solid #7E7777;
    border-radius: 4rem 0 4rem 0;
    padding: 5rem;
    height: 100%;
}

.sale-info p {
    line-height: 1.5;
    margin: 0;
}


