<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pataconesenlinea</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="barra">
            <nav class="container">
                <a href="/"><img src="/img/Logo.png" alt="Logotipo Pataconesonline.cl" class="logo"></a>
                <ul>
                    <li><a href="/" class="back">Volver</a></li>
                </ul>
                <a href="/cart"><img src="/img/Cart.svg" alt="Carrito" class="cart-i"></a>
            </nav>
        </div>
    </header>

    <main class="section container">
        <h2>Carrito De Compras</h2>

        <div class="cart">
            <div class="cart-products">
                <div class="cart-product">
                    <img src="/img/Patacon.png" alt="Patacon Carrito" class="cart-product-img">
                    <div class="cart-product-info">
                        <h4>Mini Patacon Verde</h4>
                        <div class="info-product">
                            <p>Paquete</p>
                            <p class="cart-info-r">25 Unidades 4 a 5 cm</p>
                        </div>

                        <div class="info-product">
                            <p>Cantidad</p>
                            <p class="cart-info-r">4</p>
                        </div>

                        <div class="info-product">
                            <p>Precio</p>
                            <p class="cart-info-r">$12.000</p>
                        </div>
                        <a href="#">Eliminar</a>
                    </div>
                </div>

                <div class="cart-product">
                    <img src="/img/Patacon.png" alt="Patacon Carrito" class="cart-product-img">
                    <div class="cart-product-info">
                        <h4>Mini Patacon Verde</h4>
                        <div class="info-product">
                            <p>Paquete</p>
                            <p class="cart-info-r">25 Unidades 4 a 5 cm</p>
                        </div>

                        <div class="info-product">
                            <p>Cantidad</p>
                            <p class="cart-info-r">4</p>
                        </div>

                        <div class="info-product">
                            <p>Precio</p>
                            <p class="cart-info-r">$12.000</p>
                        </div>
                        <a href="#">Eliminar</a>
                    </div>
                </div>

                <div class="cart-product">
                    <img src="/img/Patacon.png" alt="Patacon Carrito" class="cart-product-img">
                    <div class="cart-product-info">
                        <h4>Mini Patacon Verde</h4>
                        <div class="info-product">
                            <p>Paquete</p>
                            <p class="cart-info-r">25 Unidades 4 a 5 cm</p>
                        </div>

                        <div class="info-product">
                            <p>Cantidad</p>
                            <p class="cart-info-r">4</p>
                        </div>

                        <div class="info-product">
                            <p>Precio</p>
                            <p class="cart-info-r">$12.000</p>
                        </div>
                        <a href="#">Eliminar</a>
                    </div>
                </div>
            </div>

            <div class="cart-r">
                <div class="order">
                    <div class="order-summary">
                        <p>Resumen del pedido</p>
                    </div>

                    <div class="order-data">
                        <div class="total">
                            <p>Total</p>
                            <p class="total-r">$20.000</p>
                        </div>
                        <p class="order-qt">6 Productos</p>
                    </div>
                    <div class="order-button">
                        <a href="/sale" class="button">Realiza tu pedido</a>
                    </div>
                </div>
                <img src="/img/Platanos.png" alt="">
            </div>
        </div>
    </main>

    <footer>
        <div class="logo-footer">
            <img src="/img/Logo-Footer.png" alt="Logotipo">
        </div>
        <div class="social-media">
            <p>Contáctanos +56 954351213</p>
            <img src="/img/IG.svg" alt="Instagram">
            <p>@pataconesenlinea.cl</p>
        </div>
        <p class="copy">pataconesenlinea.cl ® Todos los derechos reservados</p>
    </footer>
</body>

</html>