<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pataconesenlinea</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <header>
        <div class="barra">
            <nav class="container">
                <a href="/index"><img src="/img/Logo.png" alt="Logotipo Pataconesonline.cl" class="logo"></a>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="#products">Productos</a></li>
                    <li><a href="#us">Nosotros</a></li>
                    <li><a href="#testimonials">Testimoniales</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
                <img src="/img/Cart.svg" alt="Carrito" class="cart">
            </nav>
        </div>

        <div class="hero" id="hero">
            <div class="hero-content contenedor">
                <h1>LOS MEJORES PATACONES <br> VENEZOLANOS EN CHILE</h1>
                <p>Frescura en nuestros patacones como materia prima <br> que nos identifica 100 % Natural.</p>
                <a href="/products" class="button">Realiza tu pedido</a>
            </div>
        </div>
    </header>

    <section class="container section" id="services">
        <h2>Nuestros Servicios</h2>
        <div class="services">
            <div class="card">
                <h3>Al Mayor Y Al Detal</h3>
                <img src="/img/Dolar.svg" alt="Reloj">
                <p>Los mejores patacones del mercado y al mejor precio</p>
            </div>

            <div class="card">
                <h3>24 Horas 7 Días</h3>
                <img src="/img/Clock.svg" alt="Dolar">
                <p>Rapidez de respuesta en línea 24 horas los 7 días de la semana</p>
            </div>

            <div class="card">
                <h3>100% Natural</h3>
                <img src="/img/Leaf.svg" alt="Leaf">
                <p>Frescura en nuestros patacones como materia prima que nos identifica</p>
            </div>
        </div>
    </section>

    <main id="products" class="container section">
        <h2>Nuestros Productos</h2>
        <div class="products">
            <div class="img-grid">
                <img src="/img/Producto1.png" alt="Patacones" class="img-grid-1">
                <img src="/img/Producto2.png" alt="Patacones" class="img-grid-2">
                <img src="/img/Producto3.png" alt="Patacones" class="img-grid-3">
                <img src="/img/Producto4.png" alt="Patacones" class="img-grid-4">
            </div>
            <div class="products-info">
                <ul>
                    <li>
                        <p>Patacones verdes y amarillos</p>
                    </li>
                    <li>
                        <p>Prefabricados</p>
                    </li>
                    <li>
                        <p>Congelados</p>
                    </li>
                    <li>
                        <p>Sellados al vacío</p>
                    </li>
                    <li>
                        <p>100% Natural</p>
                    </li>
                    <p>Ordena ya al mayor y al detal
                        (Precios al mayor aplican con la compra de 6 productos en adelante)</p>
                </ul>
                <a href="/products" class="button">Realiza tu pedido ahora mismo</a>
            </div>
        </div>
    </main>

    <section id="us" class="section container">
        <h2>Sobre Nosotros</h2>
        <div class="us">
            <img src="/img/Platano.png" alt="Nosotros Platano Imagen">
            <div class="us-text">
                <p>Nuestro servicio está orientado a satisfacer y facilitar las necesidades de ese público que quiere y
                    desea
                    comer rico, delicioso y de una forma práctica, con sabor venezolano hecho por venezolanos; motivados
                    a
                    consumir alimentos naturales con base orgánica en lo autóctono del plátano verde y amarillo como
                    materia
                    prima para realizar los ricos y deliciosos patacones de la cocina tradicional en su mezcla de
                    sabores.
                </p>
                <p>Dar a Conocer y Satisfacer la demanda de la necesidad de Patacones para pequeños y grandes
                    comerciantes
                    de
                    comida rápida al mayor y al detal, así como publico en general que quiera saber y conocer la
                    diferentes
                    y
                    practicas formas de preparar el platano verde y amarillo como Patacon para degustar como plato de
                    comida
                    facil y rápida o picaditas muy venezolanas.</p>
            </div>
        </div>
    </section>

    <section id="testimonials" class="container section">
        <h2>Nuestros Clientes Satisfechos</h2>

        <div class="quote">
            <div class="quote-text-l">
                <blockquote class="blockquote-l">"Muy buenos los patacones, súper fácil de despegar no tuvimos ningún
                    problema, muy atentos a la hora de realizar el producto</blockquote>
                <p class="author author-l">Alejandro Gonzalez</p>
            </div>
            <img src="/img/Testimonial1.png" alt="Patacon Testimonial">
        </div>

        <div class="quote">

            <img src="/img/Testimonial2.png" alt="Patacon Testimonial">
            <div class="quote-text-r">
                <blockquote class="blockquote-r">"Extraordinario el producto, excelente de verdad nos encantó, se
                    entregó el tiempo acordado sin ningún problema"</blockquote>
                <p class="author author-r">Alejandro Gonzalez</p>
            </div>
        </div>

        <div class="quote">
            <div class="quote-text-l">
                <blockquote class="blockquote-l">"Están buenos y se ve muy bien que vengan sellados, la atención fue
                    excelente"</blockquote>
                <p class="author author-l">Alejandro Gonzalez</p>
            </div>
            <img src="/img/Testimonial3.png" alt="Patacon Testimonial">
        </div>

        <div class="quote">
            <img src="/img/Testimonial4.png" alt="Patacon Testimonial">
            <div class="quote-text-r">
                <blockquote class="blockquote-r">"Muchas gracias estaban muy ricas"</blockquote>
                <p class="author author-r">Alejandro Gonzalez</p>
            </div>
        </div>
    </section>

    <section id="contact" class="container section">
        <h2>Contáctanos</h2>

        <form action="" class="form-contact">

            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" placeholder="Inserta tu nombre" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Inserta tu email" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" placeholder="Inserta tu teléfono" required>
            </div>

            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea name="" id="mensaje" cols="30" rows="10"></textarea>
            </div>

            <input type="submit" class="button">
        </form>

        <img src="/img/Platanotlf.png" alt="">
    </section>

    <footer>
        <div class="logo-footer">
            <img src="/img/Logo-Footer.png" alt="Logotipo">
        </div>
        <div class="social-media">
            <img src="/img/IG.svg" alt="Instagram">
            <p>@pataconesenlinea</p>
        </div>
        <p><span>Atención al cliente: +58 424 6438964</span> </p>
        <p>Pataconesenlinea.cl ® Todos los derechos reservados</p>
    </footer>
</body>

</html>