<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tapas de Patacones Venezolanos en Chile - Patacones En Línea</title>
    <meta name="description"
        content="¿Te gustaría degustar unos patacones y no sabes por dónde empezar? Te ofrecemos las mejores tapas de patacones venezolanos de todo chile al mejor precio.">

    <link rel="icon" type="image/png" href="/img/Platanos.png">

    <link href="https://fonts.googleapis.com/css2?family
    =Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
        
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <nav id="navegacion">
        <div class="container">

            <a href="/">
                <img src="/img/Logo.png" alt="Logotipo Pataconesonline.cl" class="logo" />
            </a>

            <ul id="menu">
                <li><a href="#hero">Inicio</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#products">Productos</a></li>
                <li><a href="#us">Nosotros</a></li>
                <li><a href="#testimonials">Testimoniales</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>

            <div class="mobile-menu" id="menuButton">
                <a href="#navegacion">
                    <img src="/img/menu-mobile.svg" alt="Icono Menu">
                </a>
            </div>

            <a href="/cart" class="cart_link">
                <img src="/img/Cart.svg" alt="Carrito" class="cart-i">
                <span id="cart_counter">0</span>
            </a>
        </div>
    </nav>


    <header>
        <div class="hero" id="hero">
            <div class="container">
                <div class="hero-content" data-aos="fade-right">
                    <h1>LAS MEJORES TAPAS DE PATACONES <span class="yellow">VENE</span><span
                            class="blue">ZOLA</span><span class="red">NOS</span> EN CHILE</h1>
                    <p>Compra tus tapas de patacones caseros con el sazón venezolano que tanto te gusta y te lo llevamos
                        hasta la puerta de tu casa</p>
                    <a href="/products" class="button">Realiza tu pedido</a>
                </div>
            </div>

        </div>
    </header>

    <a href="https://api.whatsapp.com/send?phone=56954351213&text=Buenas!%20Me%20interesan%20sus%20productos!" class="fab fa-whatsapp"></a>

    <section class="container section" id="services">
        <h2 data-aos="fade-down">Nuestros Servicios</h2>
        <div class="services" data-aos="fade-up">
            <div class="card">
                <h3>Al Mayor Y Al Detal</h3>
                <img src="/img/Dolar.svg" alt="Reloj">
                <p>Los mejores patacones del mercado y al mejor precio</p>
            </div>

            <div class="card">
                <h3>24 Horas 7 Días</h3>
                <img src="/img/Clock.svg" alt="Dolar">
                <p>Rapidez de respuesta en línea 24 horas los 7 días de la semana</p>
            </div>

            <div class="card">
                <h3>100% Natural</h3>
                <img src="/img/Leaf.svg" alt="Leaf">
                <p>Frescura en nuestros patacones como materia prima que nos identifica</p>
            </div>
        </div>
    </section>

    <main id="products" class="container section">
        <h2 data-aos="fade-down">Nuestros Productos</h2>
        <div class="products">
            <div class="img-grid">
                <img src="/img/Producto1.png" alt="Tapas de Patacones" class="img-grid-1" loading="lazy"
                    data-aos="fade-right">
                <img src="/img/Producto2.png" alt="Tapas de Patacones" class="img-grid-2" loading="lazy"
                    data-aos="fade-down">
                <img src="/img/Producto4.png" alt="Tapas de Patacones" class="img-grid-3" loading="lazy"
                    data-aos="fade-left">
                <img src="/img/Producto3.png" alt="Tapas de Patacones" class="img-grid-4" loading="lazy"
                    data-aos="fade-up">
            </div>
            <div class="products-info" data-aos="fade-left">
                <ul>
                    <li>
                        <p>Patacones verdes y amarillos</p>
                    </li>
                    <li>
                        <p>Prefabricados</p>
                    </li>
                    <li>
                        <p>Congelados</p>
                    </li>
                    <li>
                        <p>Sellados al vacío</p>
                    </li>
                    <li>
                        <p>100% Natural</p>
                    </li>
                    <li>
                        <p>Contamos con delivery</p>
                    </li>
                    <p>Ordena ya al mayor y al detal</p>
                    <p>(Precio al mayor aplica desde los 6 productos)</p>
                </ul>
                <a href="/products" class="button">Realiza tu pedido ahora</a>
            </div>
        </div>
    </main>

    <section id="us" class="section container">
        <h2 data-aos="fade-down">Sobre Nosotros</h2>
        <div class="us">
            <img src="/img/Platano.png" alt="Nosotros Platano Imagen" loading="lazy" data-aos="fade-right">
            <div class="us-text" data-aos="fade-left">
                <p>Nuestro servicio está orientado a facilitar las necesidades de ese público que quiere y desea comer
                    rico de una forma práctica, con sabor venezolano hecho por venezolanos, motivados a consumir
                    alimentos naturales con base orgánica en lo autóctono del plátano verde y amarillo como materia
                    prima para realizar los ricos y deliciosos patacones de la cocina tradicional en su mezcla de
                    sabores.
                </p> <br>
                <p>Nuestra misión es dar a conocer y satisfacer la demanda de patacones para pequeños y grandes
                    comerciantes de comida rápida al mayor y al detal, así como público en general que quiera saber y
                    conocer la diferentes y practicas formas de preparar el plátano verde y amarillo como patacón y así
                    degustar como plato de comida fácil y rápida o picaditas muy venezolanas.</p>
            </div>
        </div>
    </section>

    <section id="testimonials" class="container section">
        <h2 data-aos="fade-down">Nuestros Clientes Satisfechos</h2>

        <div class="quote" data-aos="fade-left">
            <div class="quote-text-l">
                <blockquote class="blockquote-l">"Muy buenos los patacones, súper fácil de despegar no tuvimos ningún
                    problema, muy atentos a la hora de realizar el producto"</blockquote>
                <p class="author author-l">Tamara Greaves</p>
            </div>
            <img src="/img/Testimonial1.png" alt="Patacon Testimonial" loading="lazy">
        </div>

        <div class="quote" data-aos="fade-right">
            <img src="/img/Testimonial2.png" alt="Patacon Testimonial" loading="lazy">
            <div class="quote-text-r">
                <blockquote class="blockquote-r">"Extraordinario el producto, excelente de verdad nos encantó, se
                    entregó el tiempo acordado sin ningún problema"</blockquote>
                <p class="author author-r">Fernando Nieto</p>
            </div>
        </div>

        <div class="quote" data-aos="fade-left">
            <div class="quote-text-l">
                <blockquote class="blockquote-l">"Están buenos y se ve muy bien que vengan sellados, la atención fue
                    excelente"</blockquote>
                <p class="author author-l">Gonzalo del Solar</p>
            </div>
            <img src="/img/Testimonial3.png" alt="Patacon Testimonial" loading="lazy">
        </div>

        <div class="quote" data-aos="fade-right">
            <img src="/img/Testimonial4.png" alt="Patacon Testimonial" loading="lazy">
            <div class="quote-text-r">
                <blockquote class="blockquote-r">"Muchas gracias estaban muy ricas"</blockquote>
                <p class="author author-r">Cristhoper Guardia</p>
            </div>
        </div>
    </section>

    <section id="contact" class="container section">
        <h2 data-aos="fade-down">Contáctanos</h2>

        <div class="contact_box">
            <form action="/contact" method="POST" class="form-contact" data-aos="fade-right">

                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" placeholder="Inserta tu nombre" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" placeholder="Inserta tu email" required>
                </div>

                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" placeholder="Inserta tu teléfono" required />
                </div>

                <div class="form-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea name="mensaje" required></textarea>
                </div>

                <input type="submit" class="button">
            </form>

            <img src="/img/Platanotlf.png" alt="" loading="lazy" data-aos="fade-left">
        </div>

    </section>

    <footer>
        <div class="logo-footer">
            <img src="/img/Logo-Footer.png" alt="Logotipo" loading="lazy">
        </div>

        <div class="social-media">
            <p>Contáctanos +56 954351213</p>
            <a href="https://www.instagram.com/pataconesenlinea.cl/"><img src="/img/IG.svg" alt="Instagram"
                    loading="lazy"></a>
            <p>@pataconesenlinea.cl</p>
        </div>

        <p class="copy">pataconesenlinea.cl &copy; Todos los derechos reservados</p>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/78441fd608.js" crossorigin="anonymous"></script>
    <script>

        function $(id) {
            return document.getElementById(id);
        }
        // Set cart counter
        const cartNumber = JSON.parse(localStorage.getItem('cartCount'));
        if (cartNumber) {
            $('cart_counter').innerText = cartNumber;
        } else {
            $('cart_counter').innerText = 0;

        }

        // Menu logic

        const menuButton = $('menuButton')
        const menu = $('menu');

        menuButton.addEventListener('click', () => {
            menu.classList.toggle('active');
        });

        AOS.init({
            easing: 'ease',
            duration: 1200,
            once: true
        });
    </script>
</body>

</html>