<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pataconesenlinea</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="/index"><img src="/img/Logo.png" alt="Logotipo Pataconesonline.cl" class="logo"></a>
            <ul>
                <li><a href="/index">Volver</a></li>    
            </ul>
            <img src="/img/Cart.svg" alt="Carrito" class="cart">
        </nav>
    </header>

    <main class="container">

        <h2>Productos</h2>
        <p class="products-p">Por la compra mayor a 6 productos se aplica precio al mayor</p>
        <p class="m-d">MAYOR DETAL</p>


        <div class="catalog">
            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="/img/Patacon.png" alt="Producto Patacon">
                </div>
                <div class="product-info">
                    <h4>Patacon Verde</h4>
                    <p class="desc">4 Tapas Grandes 16 cm</p>
                    <p class="price">$1.600 - $2.000</p>
                    <a href="#" class="button">Añadir al carrito</a>
                </div>
            </div>
        </div>



    </main>
    <footer>
        <div class="logo-footer">
            <img src="/img/Logo-Footer.png" alt="Logotipo">
        </div>
        <div class="social-media">
            <img src="/img/IG.svg" alt="Instagram">
            <img src="/img/WS.svg" alt="Whatsapp">
        </div>
        <p><span>Atención al cliente: +58 424 6438964</span> </p>
        <p>Pataconesenlinea.cl ® Todos los derechos reservados</p>
    </footer>
</body>

</html>