<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pataconesenlinea</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/sale.css">
</head>

<body>
    <header>
        <div class="barra">
            <nav class="container">
                <a href="/"><img src="/img/Logo.png" alt="Logotipo Pataconesonline.cl" class="logo"></a>
                <ul>
                    <li><a href="/" class="back">Volver</a></li>
                </ul>
                <a href="/cart" class="cart_link">
                <img src="/img/Cart.svg" alt="Carrito" class="cart-i">
                <span id="cart_counter">0</span>
                </a>
            </nav>
        </div>
    </header>

    <main id="sale" class="container section">
        <h3>Formulario de venta</h3>
        <p class="text-sale">Por favor ingresa tus datos personales, de contacto y la referencia bancaría para finalizar
            su pedido y
            ponernos en contacto con usted </p>

        <div class="sale">
            <div class="platanito-u">
                <img src="/img/Platano.png" alt="">
            </div>

            <div class="sale-contact">
                <form action="" class="form-sale">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" placeholder="Inserta tu nombre" required>

                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" placeholder="Inserta tu apellido" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Inserta tu email" required>

                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" placeholder="Inserta tu teléfono" required>

                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" placeholder="Inserta tu dirección" required>

                    <label for="referencia">Número de referencia bancaria:</label>
                    <input type="text" id="referencia" placeholder="Inserta el número de referencia bancaria" required>

                    <label for="mensaje">Mensaje:</label>
                    <textarea name="" id="mensaje" cols="30" rows="10"></textarea>

                    <div class="sale-total">
                        <p>Total a pagar</p>
                        <p>$20.000</p>
                    </div>

                    <input type="submit" class="button sale-bt">
            </div>

            <div class="sale-process">
                <div class="sale-info">
                    <h4>Datos Bancarias</h4>
                    <p>Elizabeth Urdaneta 26.814.385-8 <br>
                        elizabethurdaneta66@gmail.com <br>
                        +56 954351213</p>
                    <p>Banco Santander <br>
                        Cuenta Corriente # 74-97737-5</p>
                    <p>Banco estado <br>
                        Cuenta Rut: 26.814.385-8</p>
                </div>

                <div class="steps">

                    <div class="step">
                        <p class="circle">1</p>
                        <p class="instruction">Realiza la transferencia</p>
                    </div>

                    <div class="step">
                        <p class="circle">2</p>
                        <p class="instruction">Rellenar el formulario de venta</p>
                    </div>

                    <div class="step">
                        <p class="circle">3</p>
                        <p class="instruction">Pulsar el botón "ENVIAR"</p>
                    </div>
                </div>
            </div>

            <div class="platanito-b">
                <img src="/img/Platanotlf.png" alt="">
            </div>
        </div>

    </main>

    <footer>
        <div class="logo-footer">
            <img src="/img/Logo-Footer.png" alt="Logotipo">
        </div>
        <div class="social-media">
            <p>Contáctanos +56 954351213</p>
            <img src="/img/IG.svg" alt="Instagram">
            <p>@pataconesenlinea.cl</p>
        </div>
        <p class="copy">pataconesenlinea.cl ® Todos los derechos reservados</p>
    </footer>
    <script>
                function $(id){
            return document.getElementById(id);
        }
// Set cart counter
const cartNumber = JSON.parse(localStorage.getItem('cartCount'));
if(cartNumber){
    $('cart_counter').innerText = cartNumber;
}else{
    $('cart_counter').innerText = 0;

}
    </script>
</body>
</html>